body {
  margin: 0;
  font-family: "Fantasy";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #42378f;
background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
}

button {
	cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
